<header id="content-header">
  <h1>Sign Up</h1>
</header>

<%= form_tag(session_path) do %>
  <fieldset>
    <ol>
      <li>
        <%= label_tag :email %>
        <%= text_field_tag :email, nil, size: 40, autofocus: true,
          required: true %>
      </li>
      <li>
        <%= label_tag :password %>
        <%= password_field_tag :password, nil, size: 40,
          required: true%>
      </li>
    </ol>
    <p>
      <%= submit_tag "Sign In", class: 'button' %>
    </p>
    <p>No account yet? <%= link_to "Sign Up!", signup_path %></p>
  </fieldset>
<% end %>
