<h1>Editing movie: <%= @movie.title %></h1>

<%= form_for @movie do |f| %>
  <div>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %><br />
    <%= f.text_area :description, size: '30x5' %>
  </div>
  <div>
    <%= f.label :total_gross %><br />
    <%= f.number_field :total_gross %>
  </div>
  <div>
    <%= f.label :rating %><br />
    <%= f.text_field :rating %>
  </div>
  <div>
    <%= f.label :released_on %><br />
    <%= f.date_field :released_on %>
  </div>

  <%= f.submit %>
<% end %>